{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MessageQ</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="http://placehold.it/64.png/000/fff">
    
    <!-- Common -->
    <link href="{% static 'css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'css/composed.css' %}" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'AuthService:home' %}">MessageQ</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{% url 'AuthService:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>

    <div class="content-wrap">
      <div class="main">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-8 p-r-0 title-margin-right">
              <div class="page-header">
                <div class="page-title">
                  <h1>Hello, <span>Welcome Here</span></h1>
                </div>
              </div>
            </div>
            <!-- /# column -->
            <div class="col-lg-4 p-l-0 title-margin-left">
              <div class="page-header">
                <div class="page-title">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'AuthService:home' %}">Dashboard</a></li>
                    <li class="breadcrumb-item active">Inbox</li>
                  </ol>
                </div>
              </div>
            </div>
            <!-- /# column -->
          </div>
          <!-- /# row -->
          <div class="main-content">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <div class="compose-email">
                      <div class="mail-box">
                        <aside class="sm-side">
                          <div class="user-head">
                            <a class="inbox-avatar" href="javascript:;">
                                                        <img src="{% static 'images/ser03.png' %}" alt="">
                                                    </a>
                            <div class="user-name">
                              {% if user.is_authenticated %}
                              <h5><a href="#">{{ user.first_name }}</a></h5>
                              <span><a href="#">{{ user.email }}</a></span>
                              {% endif %}
                            </div>
                          </div>
                          <div class="inbox-body text-center">
                            <a href="{% url 'MailService:mail' %}" data-toggle="modal" title="Compose" class="btn btn-compose"> Compose</a>
                            <!-- Modal -->

                            <!-- /.modal -->
                          </div>
                          <ul class="inbox-nav inbox-divider">
                            <li class="breadcrumb-item active">
                              <a href="#"><i class="fa fa-inbox"></i> Inbox </a>
                            </li>
                          <!--  <li>
                              <a href="#"><i class="fa fa-envelope-o"></i> Sent Mail</a>
                            </li>-->
                          </ul>

                          <div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade">
                              <div class="modal-dialog">
                                <div class="modal-content text-left">
                                  <div class="modal-header">
                                      <a href="composed.html">
                                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><i class="ti-close"></i></button>
                                    <h4 class="modal-title">Compose</h4>
                                      </a>
                                  </div>
                                </div>
                                <!-- /.modal-content -->
                              </div>
                              <!-- /.modal-dialog -->
                            </div>
                        </aside>
                        <aside class="lg-side">
                          <div class="inbox-head">
                            <h3 class="input-text">Inbox</h3>
                            <form action="#" class="pull-right position">
                              <div class="input-append inner-append">
                                <input type="text" class="sr-input" placeholder="Search Mail">
                                <button class="btn sr-btn append-btn" type="button"><i class="fa fa-search"></i></button>
                              </div>
                            </form>
                          </div>
                          <div class="mail-option">

                            <ul class="unstyled inbox-pagination pagination-list">
                              <li>
                                <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                              </li>
                              <li>
                                <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                              </li>
                            </ul>
                          </div>
                          <div class="table-responsive">
                            <table class="table table-inbox table-hover table-responsive">
                              {% for obj in rec_mail %}
                              <tbody>

                                <tr class="unread">
                                  <td class="inbox-small-cells">
                                    <input type="checkbox" class="mail-checkbox">
                                  </td>
                                  <td class="inbox-small-cells"><i class="ti-star"></i></td>
                                  <td class="view-message  dont-show">{{ obj.from_user }}</td>
                                  <td class="view-message ">{{ obj.rec_subject }}</td>
                                  <td class="view-message  inbox-small-cells"><i class="fa fa-paperclip"></i></td>
                                  <td class="view-message  text-right">9:27 AM</td>
                                </tr>
                              </tbody>
                              {% endfor %}
                            </table>
                          </div>

                        </aside>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 <!-- Common -->
    <!--<script src="assets/js/lib/jquery.min.js"></script>
    <script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
    <script src="assets/js/lib/menubar/sidebar.js"></script>
    <script src="assets/js/lib/preloader/pace.min.js"></script>
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script src="assets/js/scripts.js"></script>
-->


</body>

</html>