{% load static %}
<html>
<head>
	<title>Mail Marketing</title>
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/mail.css' %}">
	
</head>
<body id="bg">
	<header class="headdeskmail">
	 <img src="{% static 'images/mailservice.png' %}" align="left" height="75" width="75" hspace="10">
	 <b>Mail Service</b>
    </header>

    <div class="sidebar">
    	<a href="#compose" id="show">Compose</a>
    	<a href="#inbox" >Inbox</a>
        <a href="{% url 'MailService:sent' %}">sent</a>
    	<a href="#draft">Draft</a>
    </div>

     <a href="{% url 'MailService:sent' %}">sent</a>
    <div id="messagesuccess" align="center">
    {% for message in messages %}

                             <div class="alert alert-success">
                                 <b>{{ message }}</b>
                             </div>
               {% endfor %}
</div>
   <div class="dialogbox">
        <dialog id="compose" > 
           <form id="frm1" method="post">
               {% csrf_token %}
              <h1 style="text-align: center;">Compose Mail</h1>
              <label >Subject:</label> 
              <input type="text" name="subject" style= "width:725px; height:30px" id="subject"><br>
              <label >Message:</label>
              <textarea rows="22" cols="100" name="message" form="frm1" placeholder="Enter Message...." id="message"></textarea>
              <br>
              <button id="btnsend">Send</button>
              <button id="managecontact">Manage Contact</button>
           </form>  
           
        </dialog>
   </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script language="javascript" type="text/javascript" src="{% static 'js/mail.js' %}"></script>



</body>
</html>